<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Zulu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>zulu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zulu</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>&lt; key&gt;NSAppTransportSecurity&lt; / key&gt;


&lt; dict&gt;

&lt; key&gt;NSAllowsArbitraryLoads&lt; / key&gt;&lt; true/&gt;

&lt; / dict&gt;</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>I need your location to know when to arm/disarm your home 😊😊😊</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Group</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Open Webcam</string>
			<key>UIApplicationShortcutItemType</key>
			<string>webcam</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Netflix</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Netflix &amp; Chill</string>
			<key>UIApplicationShortcutItemType</key>
			<string>netflix</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>off 2</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>All switches off</string>
			<key>UIApplicationShortcutItemType</key>
			<string>alloff</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>on 2</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>All switches on</string>
			<key>UIApplicationShortcutItemType</key>
			<string>allon</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
